@import url(reset.css);

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  padding: 30px 0px 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.active {
  color: #46A358;
}

/* FONTS */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.ttf') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* HEADER */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.3px solid #46A35880;
  padding-bottom: 12px;
}

.header-list {
  display: flex;
  gap: 45px;
}

.list-items {
  position: relative;
}

.header-container .header-list .list-items:hover .active2 {
  color: #46A358
}

.header-list .list-items .header-menu {
  position: absolute;
  left: 0;
  width: 180px;
  top: 100%;
  padding-top: 24px;
}

.menu-title {
  background: #EDF6EE;
}

.list-items:hover:before {
  content: '';
  background: #46A358;
  position: absolute;
  top: 36px;
  left: 0;
  right: 0;
  height: 3px;
}

.menu-title {
  width: 100%;
}

.acd {
  position: absolute;
  left: 180px;
  top: 24px;
  padding-left: 4px;
}

.bottom-menu a {
  display: block;
  padding: 10px 40px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3D3D3D;
}

.bottom-menu:hover {
  background: #1A712A;
}

.bottom-menu {
  background: #EDF6EE;
}

.menu-title a {
  display: block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3D3D3D;
}

.header-menu {
  display: none;
}

.list-items:hover .header-menu {
  display: block;
}

.menu-title:hover {
  background: #1A712A;
}

.menu-title:hover:last-child .active3 {
  color: #FFF;
}

.acd {
  display: none;
}

.menu-title:hover:last-child .acd {
  display: block;
}

.header-button {
  padding: 8px 20px;
  background: rgba(70, 163, 88, 1);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 20.11px;
  font-family: "Roboto";
  font-weight: 500;
  color: #FFF;
}

.list-items {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #3D3D3D;
}

.main-container {
  display: flex;
}

.part1 {
  width: 545px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second-titile {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 70px;
  line-height: 70px;
  margin-bottom: 5px;
}

.element {
  color: #46A358;
}

.main-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #3D3D3D;
  margin-bottom: 7px;
}

.main-text {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #727272;
  margin-bottom: 44px;
}

.main-btn {
  padding: 11px 38px;
  background: #46A358;
  border-radius: 4px;
}

.main-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFF;
  align-self: flex-start
}

.menu-title {
  padding: 10px 40px;
  background: #EDF6EE;
}