@import url(reset.css);
/* GLOBAL */
.container{
width:1200px;
margin:0 auto;
padding:0px 10px;
}

html,
body {
  height: 100%;
}

a{
 text-decoration:none;
 color:inherit; 
}
/* FONTS */
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight:700;
  font-style: normal;
  font-display: swap;
}

/* HEADER-CONTAINER */
.header{
padding: 25px 0px;
margin-bottom: 98px;
border-bottom: 1px solid #ECECEC;
display: flex;
}

.header-container{
  display:flex;
}

.header-logo{
  margin-right: 95px;
}

.header-list{
display:flex;
gap:50px;
margin-right:auto;
}

.header-item{
font-family: "Roboto";
font-weight:500;
font-size: 14px;
line-height: 16.41px;
color:#212121;
}

.header-email{
  margin-right: 50px;
  font-family:"Roboto";
  font-weight:500;
  font-size: 14px;
  line-height:16.41px;
  color:#757575;
}

.header-phone{
font-family:"Roboto";
font-weight:500;
font-size: 14px;
line-height:16.41px;
color:#757575;
}
/* MAIN */
.main{
display: flex;
margin-bottom: 94px;

}

.main-list{
display:flex;
justify-content:center;
gap:8px;
margin-bottom: 46px;
}

.nav-title a {
  display: block;
  padding:6px 25px;
  background:#F5F4FA;
  border-radius:3px;
  font-family:"Roboto";
  font-weight:500;
  font-size: 16px;
  line-height: 26px;
  color:#212121;
}


.main-cards{
display:flex;
flex-wrap:wrap;
gap: 30px;
}

.main-card{
flex-grow: 1;
border:1px solid #EEEEEE; 
}

.main-title{
width:100%;
height:294px;
object-fit:cover;
/* margin-bottom: 20px; */
}

.main-name{
  margin-bottom: 4px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;

}

.nav-name{
  margin-bottom: 20px;
  font-family: "Roboto";
  font-weight:400;
  font-size: 16px;
  line-height:30px;
  color:#757575;
}

.title-desk{
  margin-left: 25px;
  padding-top: 20px;
}
/* FOOTER */

.footer{
  background:#2F303A;
  padding:60px 0px;
}

.footer-container{
  display:flex;
  flex-direction:column;
  gap: 9px;
}

.footer-logo{
  margin-bottom:11px;
}

.footer-item{
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFF;
}
.footer-email , .footer-phone{
font-family: "Roboto";
font-weight: 400;
font-size: 14px;
line-height: 24px;
color: #757575;
}

/* ACTIVE */
.active{
  color:#2196F3;
}

.nav-title .active-title{
  background:#2196F3;
  color:#FFF;
}

.nav-title:hover .active-btn{
  background: #2196F3;
    color: #FFF;
  }

  .test{
    position:absolute;
    width:100%;
    height:294px;
    top:0;
    left:0;
    right:0;
    padding:20px;
    opacity:0;
    display: flex;
    align-items: center;
    background:rgba(33, 150, 243, 0.9);
    text-align:justify;
  }

    .test p{
      font-family: "Roboto";
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color:rgba(255, 255, 255, 1);
      
    }

  .main-card-title:hover .test{
  opacity:1;
  }
  .main-card{
    position:relative;
  }

  .main-card:hover{
    box-shadow:1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  